
.page-header {
    background-color: #E5E5E5;
    padding: 1.5rem 2rem;
    margin-bottom: 2.5rem;
    border-radius: 6px;
}

    .page-header h3 {
        margin: 0;
        font-weight: 600;
        color: #19355C;
    }


.card-footer {
    background-color: #f9f9f9;
    display: flex;
    justify-content: flex-end;
}


.validation-message {
    font-size: 0.875em;
    font-weight: 500;
}


.pdf-preview-container {
    padding: 0;
    min-height: 500px; 
}

.pdf-object {
    width: 100%;
    height: 800px; 
    border: none;
}

.pdf-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    color: #888;
    background-color: #f7f7f7;
    border-radius: 6px;
}
