.iniciar-sesion,
.iniciar-sesion * {
    box-sizing: border-box;
}

.iniciar-sesion {
    position: relative;
    width: 100%;
    height: 1080px;
    margin: 0 auto;
    max-width: 1920px;
    overflow: hidden;
}

.rectangle-4 {
    position: absolute;
    height: 1080px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: inset 0px -0.5px 1px rgba(94, 94, 94, 0.3), inset 0px -0.5px 1px rgba(255, 255, 255, 0.2);
}

.rectangle-42 {
    position: absolute;
    left: 29.17%;
    right: 29.17%;
    top: 12.96%;
    bottom: 12.96%;
    background: #05084D;
    border-radius: 50px;
    backdrop-filter: blur(2px);
}

.logo-1 {
    position: absolute;
    height: 196px;
    width: 147px;
    left: 50%;
    transform: translateX(-50%);
    top: 186px;
    object-fit: cover;
}

.inicio-de-sesi-n-administrador {
    position: absolute;
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
    top: 38.89%;
    font-family: 'Jaldi', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: normal;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.usuario {
    position: absolute;
    width: 19%;
    left: 50%;
    transform: translateX(-50%);
    top: 47.87%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    font-family: 'Jaldi', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 54px;
    color: #FFFFFF;
}

.contrase-a {
    position: absolute;
    width: 19%;
    left: 50%;
    transform: translateX(-50%);
    top: 56.67%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    font-family: 'Jaldi', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 54px;
    color: #FFFFFF;
}

    .usuario i,
    .contrase-a i {
        font-size: 26px;
        margin-right: 8px;
    }


.username-fill {
    position: absolute;
    width: 19%;
    left: 50%;
    transform: translateX(-50%);
    top: 52.13%;
    bottom: 44.26%;
    background: #FFFFFF;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
    font-size: 18px;
}

.password-fill {
    position: absolute;
    width: 19%;
    left: 50%;
    transform: translateX(-50%);
    top: 61.67%;
    bottom: 34.72%;
    background: #FFFFFF;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
    font-size: 18px;
}

.button-inicio-de-sesion {
    position: absolute;
    width: 13%;
    left: 50%;
    transform: translateX(-50%);
    top: 68.61%;
    bottom: 27.31%;
}

.rectangle-5 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #F8E700;
    border-radius: 20px;
    border: none;
    font-family: 'Jaldi', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #05084D;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.olvide-mi-contrase-a {
    position: absolute;
    left: 37.97%;
    right: 46.93%;
    top: 76.2%;
    bottom: 18.8%;
    font-family: 'Jaldi', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: normal;
    color: #FFFFFF;
    text-decoration: none;
    white-space: nowrap;
}

.crear-cuenta {
    position: absolute;
    left: 55.94%;
    right: 36.56%;
    top: 76.2%;
    bottom: 20%;
    font-family: 'Jaldi', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    color: #FFFFFF;
    text-decoration: none;
    white-space: nowrap;
}

.icon-olvide {
    position: absolute;
    left: 35.8%;
    top: 75.80%;
    font-size: 24px;
    color: white;
}

.icon-crear {
    position: absolute;
    left: 53.47%;
    top: 75.10%;
    font-size: 30px;
    color: white;
}
