@page "/iniciar-sesion"

<link rel="stylesheet" href="css/iniciar-sesion.css" />

<div class="iniciar-sesion">
    <div class="rectangle-4">
        <img src="images/fondoInicioSesion.png" alt="Fondo de inicio de sesión" style="width:100%; height:100%; object-fit:cover;" />
    </div>

    <div class="rectangle-42"></div>

    <img class="logo-1" src="images/logoUcnePeq.png" alt="Logo" />

    <div class="inicio-de-sesi-n-administrador">
        INICIO DE SESIÓN ADMINISTRADOR
    </div>

    <label class="usuario">Usuario</label>
    <input type="text" class="username-fill" placeholder="Ingrese su usuario" />

    <label class="contrase-a">Contraseña</label>
    <input type="password" class="password-fill" placeholder="Ingrese su contraseña" />

    <div class="button-inicio-de-sesion">
        <button class="rectangle-5">INICIAR SESIÓN</button>
    </div>

    <a href="/recuperar" class="olvide-mi-contrase-a">Olvidé mi contraseña</a>
    <a href="/crear-cuenta" class="crear-cuenta">Crear cuenta</a>
</div>
@code {

}
