@page "/pantalla-principal"
@rendermode InteractiveServer

<PageTitle>Inicio</PageTitle>

<div class="content-nav">
    <NavLink href="" class="nav-link" Match="NavLinkMatch.All">Inicio</NavLink>
    <NavLink href="crear-convenio" class="nav-link">Crear convenio</NavLink>
    <NavLink href="listar-convenio" class="nav-link">Listar convenio</NavLink>
    <NavLink href="reporte-convenio" class="nav-link">Reporte convenio</NavLink>
</div>

<div class="home-body">
    <img src="lib/images/image2.png" alt="Convenio de Trabajo" class="convenio-image" />
</div>

<footer class="home-footer">
</footer>

@code {
   
}