@page "/pantalla-principal"
@rendermode InteractiveServer

<PageTitle>Inicio</PageTitle>

<div class="content-nav">
    <NavLink href="" class="nav-link" Match="NavLinkMatch.All">Inicio</NavLink>
    <NavLink href="crear-convenio" class="nav-link">Crear convenio</NavLink>
    <NavLink href="listar-convenio" class="nav-link">Listar convenio</NavLink>
    <NavLink href="buscar-convenio" class="nav-link">Buscar convenio</NavLink>
</div>

<div class="home-body">
   
</div>

<footer class="home-footer">
</footer>

@code {
   
}