
<div class="nav-container">

    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="perfil">
                <i class="bi bi-person nav-icon" aria-hidden="true"></i>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="solicitudes">
                <i class="bi bi-file-earmark-text nav-icon" aria-hidden="true"></i>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="notificaciones">
                <i class="bi bi-collection nav-icon" aria-hidden="true"></i>
            </NavLink>
        </div>
    </nav>

    <div class="nav-bottom">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="logout">
                <i class="bi bi-box-arrow-right nav-icon" aria-hidden="true"></i>
            </NavLink>
        </div>
    </div>

</div>