/* NUEVO: Cabecera Amarilla */
.sidebar-header {
    background: #FFCB00;
    display: flex;
    align-items: center;
    padding: 1.25rem 1.5rem; /* Espaciado interno */
    flex-shrink: 0; /* Evita que se encoja */
}

    .sidebar-header img {
        height: 50px; /* Tamaño del logo */
        width: auto;
        margin-right: 1rem;
    }

    .sidebar-header .header-title {
        font-weight: bold;
        font-size: 1.1rem; /* Tamaño ajustado */
        color: #19355C; /* Color azul */
        text-transform: uppercase;
    }

/* MODIFICADO: .nav-container ahora es flexible 
   para ocupar el espacio restante.
*/
.nav-container {
    display: flex;
    flex-direction: column;
    flex: 1; /* ¡Importante! Ocupa el resto del espacio */
    padding-top: 1rem; /* Espacio desde la barra amarilla */
}

/* Contenedor del enlace inferior */
.nav-bottom {
    margin-top: auto; /* ¡Esta es la clave! Empuja este bloque al fondo */
    padding-bottom: 1.5rem; /* Un poco de espacio inferior */
}

    /* Centramos el icono de logout (ya que no tiene texto) */
    .nav-bottom .nav-link {
        justify-content: center;
    }

/* Estilos de los items de navegación (Sin cambios) */
.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3.5rem;
        display: flex;
        align-items: center;
        line-height: 3.5rem;
        width: 100%;
    }

.nav-icon {
    font-size: 1.5rem;
    margin-right: 1rem;
    width: 2rem;
    display: inline-block;
    text-align: center;
}

.nav-text {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
}

.nav-item ::deep a.active {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
}

.nav-item ::deep .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}
